/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import './vars';

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: $black;
}