
<div *ngIf="task" class="wrapper">
  <div class="title">
    {{ task.header }}
    <hr>
  </div>
  <div class="description">
    <div class="header">
      Description
      <div class="button_group">
        <button (click)="editTask()"><img src="../../../../assets/edit.png"></button>
        <button (click)="deleteTask()"><img src="../../../../assets/trashcan.png"></button>
      </div>
    </div>
    <div class="info">
      {{ task.description }}
    </div>
  </div>
  <div class="content">
    <div class="section">
      <div class="title">Notes</div>
      <div *ngFor="let note of task.note" class="item">{{ note }}</div>
      <button>
        <img src="../../../../assets/plus.png">
        New Note
      </button>
    </div>
    <div class="section" [ngClass]="{'block': true}">
      <div class="title">Blocks</div>
      <div *ngFor="let block of task.block" class="item">{{ block }}</div>
      <button>
        <img src="../../../../assets/plus.png">
        New Block
      </button>
    </div>
  </div>
</div>
