
@import '../../../../vars';

.wrapper {
    margin: 50px 200px;
    text-align: center;

    .title {
        color: $light-blue;
        font-size: 40px;

        hr {
            background-color: $light-blue;
            border: none;
            height: 2px;
            margin: 20px 0;
        }
    }

    .description {
        display: inline-block;
        text-align: left;
        background-color: $grey;
        color: $light-blue;
        font-size: 20px;
        margin: 20px 0;
        width: 90%;

        .header {
            -moz-transition-duration: .2s;
            transition-duration: .2s;
            padding: 20px;
        }

        .info {
            color: $white;
            font-size: 18px;
            padding: 10px 30px 30px 30px;
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 30px;
    font-size: 18px;

    .section {
        width: 90%;
        margin: 0 10px;
        background-color: $grey;
        border-color: $light-blue;
        border-style: solid;
        border-width: 2px;
        padding: 10px;

        .item {
            margin: 5px;
            border-left-style: solid;
            border-left-width: 5px;
            border-left-color: $light-blue;
            color: $white;
            text-align: left;
            padding: 10px 20px;
            padding-right: 0;
        }

        .title {
            color: $white;
            font-size: 30px;
        }

        &.block {
            border-color: $red;

            .item {
                border-left-color: $red;
            }
        }
    }
}

button {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $light-grey;
    border: 3px solid $light-grey;
    color: $white;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        background-color: transparent;
    }
}
