
<main class="wrapper">
  <div class="title">
    Agility
  </div>
  <hr>
  <div class="subtitle">
    Great projects require great plans
  </div>
  <img class="logo" src="assets/img/logo.png" alt="Logo">
  <br>
  <button *ngIf="!auth.user" (click)="auth.signIn()">
    <img class="google" src="assets/img/google.png" alt="Google logo">
    <span class="google">
      Sign In
    </span>
  </button>
  <div *ngIf="auth.user" class="info_wrapper">
    <button class="projects" routerLink="/projects">
      Your Projects
    </button>
  </div>
</main>
