
<div class="wrapper">
  <div class="title">
    Agility
  </div>
  <hr>
  <div class="subtitle">
    Great projects require great plans
  </div>
  <img class="logo" src="../../../assets/logo.png">
  <br>
  <button *ngIf="!auth.user" (click)="auth.signIn()">
    <img class="google" src="../../../assets/google.png">
    <span class="google">
      Sign In
    </span>
  </button>
  <div *ngIf="auth.user" class="info_wrapper">
    <button class="projects">
      Your Projects
    </button>
  </div>
</div>
