
@import '../../../vars';

hr {
    height: 3px;
    width: 100%;
    background-color: $light-blue;
    border: none;
}
button {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    display: inline-block;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: $white;
    border-width: 3px;
    color: $grey;
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        border-color: $grey;
        background-color: transparent;
        color: $light-blue;
    }
}
img.logo {
    width: 250px;
    height: 250px;
    margin: 30px 0px;
}
img.google {
    width: 50px;
    height: 50px;
    float: left;
}
span.google {
    vertical-align: middle;
    position: relative;
    padding: 15px 45px;
}
.wrapper {
    text-align: center;
    margin: 0 200px;
    margin-bottom: 100px;
}
.title {
    color: $light-blue;
    font-size: 100px;
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    margin-top: 30px;
}
.subtitle {
    color: $white;
    font-size: 36px;
    margin-top: 30px;
    letter-spacing: 0.15em;
}
