
<div *ngIf="member" class="outer">
  <a href="mailto:{{ member.email }}">
    <div class="wrapper">
      <img src="{{ member.profileURL }}" alt="{{ member.name }}'s profile picture'">
      <div class="info">
        <div class="name">
          {{ member.name }}
        </div>
        <hr>
        <div class="content"><span>Email:</span> {{ member.email }}</div>
        <div class="content"><span>Role:</span> {{ member.role }}</div>
      </div>
    </div>
  </a>
  <div *ngIf="projectService.projectRole === 'Project Lead' && auth.user._id !== member._id" class="button_group">
    <img (click)="edit()" src="assets/img/edit.png" alt="Edit logo">
    <img (click)="delete()" src="assets/img/trashcan.png" alt="Delete logo">
  </div>
</div>
