
@import '../../../vars';

.wrapper {
    margin: 50px 100px;

    .sprint_grid {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 30px;

        .sprint_wrapper {
            overflow: auto;
            white-space: nowrap;
    
            &::-webkit-scrollbar {
                height: .5em;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: $white;
            }
        }

        .new_sprint_btn {
            -moz-transition-duration: .2s;
            transition-duration: .2s;
            height: 300px;
            width: 270px;
            margin-top: 10px;
            background-color: $grey;
            border-style: solid;
            border-color: $grey;
            border-width: 2px;
            color: $white;
            font-size: 20px;
            cursor: pointer;

            img {
                height: 70px;
                width: 70px;
                margin-bottom: 15px;
            }

            &:hover {
                -moz-transition-duration: .4s;
                transition-duration: .4s;
                border-color: $light-blue;
            }
        }
    }
}

