
@import '../../../vars';

.wrapper {
    margin: 50px 100px;

    .sprint_wrapper {
        overflow: auto;
        white-space: nowrap;

        &::-webkit-scrollbar {
            height: .5em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $white;
        }
    }
}

