
<div class="wrapper">
  <div class="sprint_grid">
    <div class="sprint_wrapper">
      <app-sprint-card #sprintCards *ngFor="let sprint of sprints" [sprint]="sprint" (selected)="getSprintTasks($event)"></app-sprint-card>
    </div>
    <button class="new_sprint_btn">
      <img src ="../../../assets/plus.png">
      <div>New Sprint</div>
    </button>
  </div>
  <div *ngIf="tasks" class="tasks_wrapper">
    <div class="title">Sprint Header's Tasks</div>
    <div class="task_list_wrapper">
      <div class="heading_grid">
        <div class="header">Due</div>
        <div class="header">Task</div>
        <div class="header">Blocks</div>
      </div>
      <app-task-list-view *ngFor="let task of tasks" [task]="task"></app-task-list-view>
    </div>
  </div>
</div>
