
<div class="navbar">
  <div class="button_wrapper_left">
    <a routerLink="">
      <img src="../../../assets//logo.png" height="70px">
    </a>
    <div *ngIf="navbarService.isInDetailsDash" class="project_name">
      <span *ngIf="navbarService.projectName">{{ navbarService.projectName }}</span>
    </div>
  </div>
  <div class="button_wrapper_right">
    <a routerLink=""><img class="icon side" src="../../../assets/home.png" alt="home button"></a>
    <div *ngIf="auth.user">
      <a *ngIf="!navbarService.isInDetailsDash; else inDashTemplate" routerLink="/projects" alt="projects dashboard button">
        <img class="icon side" src="../../../assets//books.png">
      </a>
    </div>
    <a routerLink="/faq"><img class="icon" src="../../../assets/question.png" alt="faq button"></a>
    <button *ngIf="!auth.user; else logout" (click)="auth.signIn()" class="google" alt="google sign in button">
      <img class="google" src="../../../assets/google.png">
      <span class="google">
        Sign In
      </span>
    </button>
  </div>
</div>

<ng-template #logout>
  <button *ngIf="auth.user; else logout" (click)="auth.signOut()" class="google" alt="google sign out button">
    <img class="google" src="../../../assets/google.png">
    <span class="google">
      Sign Out
    </span>
  </button>
</ng-template>

<ng-template #inDashTemplate>
  <a routerLink="">
    <img class="icon side" src="../../../assets/team.png" alt="project team page button">
  </a>
</ng-template>
