
@import '../../../vars';

button {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    height: 70px;
    width: 150px;
    font-size: 18px;
    color: $light-blue;
    background-color: transparent;
    border: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px;
    cursor: pointer;

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        background-color: $light-blue;
        color: $grey;
    }
}

span {
    margin: 0 auto;
}

button.google {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background-color: white;
    border: none;
    color: $grey;

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        background-color: $light-blue;
        color: $grey;
    }
}

img.google {
    width: 30px;
    height: 30px;
    float: left;
}
span.google {
    vertical-align: middle;
    position: relative;
}

img.icon {
    height: 35px;
    width: 35px;
    margin:  0 30px;
    padding: 15px 5px;
}

img.icon.side {
    margin: 0;
}

.navbar {
    background-color: $grey;
    width: 100%;
    height: 70px;

    .button_wrapper_left {
        display: flex;
        float: left;
        padding-left: 10px;
    }

    .button_wrapper_right {
        display: flex;
        float: right;
    }
}

.project_name {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px;
    color: $white;
    font-size: 18px;
}
