
@import '../../../vars';

button {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    height: 70px;
    width: 150px;
    font-size: 18px;
    color: $light-blue;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        background-color: $light-blue;
        color: $black;
    }
}

.navbar {
    background-color: $black;
    width: 100%;
    height: 70px;

    .button_wrapper {
        float: right;
    }
}
