
<div class="wrapper">
  <div class="title">
    <span *ngIf="mode === 'create'">Create</span>
    <span *ngIf="mode === 'update'">Update</span>
     a Project
  </div>
  <hr>
  <form>
    <input type="text" placeholder="Project Name" [(ngModel)]="model.name" name="name" required>
    <div class="subtitle">
      Project Description
    </div>
    <textarea [(ngModel)]="model.description" name="description" required></textarea>
    <div class="button_group">
      <button (click)="close()">Cancel</button>
      <button (click)="create()">
        <span *ngIf="mode === 'create'">Create</span>
        <span *ngIf="mode === 'update'">Update</span>
      </button>
    </div>
  </form>
</div>
