
<div class="wrapper">
  <div class="title">
    <span>Create</span>
    <span>Update</span>
    a Sprint
  </div>
  <hr>
  <form (ngSubmit)="create()">
    <input type="text" placeholder="Sprint Name" [(ngModel)]="model.header" name="header" required>

    <div class="dateWrapper">
      <input matInput [value]="model.due" [matDatepicker]="picker" placeholder="Choose a due date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="subtitle">Sprint Description</div>
    <textarea [(ngModel)]="model.description" name="description" required></textarea>
    <div class="button_group">
      <button (click)="close">Cancel</button>
      <button type="submit">
        <span>Create</span>
        <span>Update</span>
      </button>
    </div>
  </form>
</div>
