
<div *ngIf="project" class="card_wrapper">
  <div class="container" routerLink="/projects/{{ project._id }}">
    <div class="name">
      {{ project.name }}
    </div>
    <hr>
    <div class="description">
      {{ project.description }}
    </div>
  </div>
  <div *ngIf="project.role === 'Project Lead'" class="btn_group">
    <button class="edit" (click)="clickEdit()" aria-label="Edit project button"></button>
    <button class="delete" (click)="clickDelete()" aria-label="Delete project button"></button>
  </div>
</div>
