
@import '../../../vars';

a {
    text-decoration: none;
}

.card_wrapper {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background-color: $grey;
    padding: 15px;
    color: $white;
    height: 250px;
    border: 2px;
    border-style: solid;
    border-color: $grey;
    overflow: hidden;

    .name {
        color: $light-blue;
        font-size: 25px;
    }

    .description {
        text-align: left;
        font-size: 18px;
    }

    hr {
        border: none;
        height: 2px;
        background-color: $light-blue;
    }

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        border-color: $light-blue;
    }
}
