
@import '../../../vars';

a {
    text-decoration: none;
}

.btn_group {
    text-align: right;

    button {
        border: none;
        background: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        cursor: pointer;
    }

    button.edit {
        background-image: url('../../../assets/edit.png');
    }

    button.delete {
        background-image: url('../../../assets/trashcan.png');
    }
}

.card_wrapper {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background-color: $grey;
    color: $white;
    height: 280px;
    border: 2px;
    border-style: solid;
    border-color: $grey;
    overflow: hidden;
    text-align: left;
    cursor: pointer;

    .container {
        padding: 15px;
        padding-top: 5px;
        height: 230px;
    }

    .name {
        color: $light-blue;
        font-size: 25px;
        text-align: center;
    }

    .description {
        text-align: left;
        font-size: 18px;
    }

    hr {
        border: none;
        height: 2px;
        background-color: $light-blue;
    }

    &:hover {
        -moz-transition-duration: .4s;
        transition-duration: .4s;
        border-color: $light-blue;
    }
}
