
@import '../../../vars';

.wrapper {
    display: inline-block;
    color: $white;
    background-color: $grey;
    height: 300px;
    width: 270px;
    text-align: center;
    margin: 10px 20px;
    text-decoration: none;
}
