
@import '../../../vars';

.wrapper {
    width: 90%;
    background-color: $grey;
    color: $white;
    margin: 20px 0;
    text-align: left;
    display: inline-block;

    .header {
        -moz-transition-duration: .2s;
        transition-duration: .2s;
        padding: 20px;
        font-size: 20px;
        border: none;
        color: $light-blue;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            -moz-transition-duration: .4s;
            transition-duration: .4s;
            color: $grey;
            background-color: $light-blue;
        }
    }

    .question {
        padding: 10px 30px 30px 30px;
        font-size: 18px;
    }
}
