
<div class="wrapper">
  <div class="title">
    Frequently Asked Questions
    <hr>
  </div>

  <div class="qa_view_wrapper">
    <app-qa-view *ngFor="let section of sections" [question]="section"></app-qa-view>
  </div>

  <div class="title">
    About Agility
    <hr>
  </div>
  <div class="description">
    Agility is a application made to manage sprint style projects. The product was made up of a small group of Cosc 412 
    students headed by Emily Vogel. The rest of the team was comprised of Cameron Crow, Andrew Noonan and Samuel Salas.
  </div>
</div>
