
<div class="wrapper">
  <div class="title">Create a Project</div>
  <hr>
  <form (ngSubmit)="create()">
    <input type="text" placeholder="Project Name" [(ngModel)]="model.name" name="name" required>
    <div class="subtitle">
      Project Description
    </div>
    <textarea [(ngModel)]="model.description" name="description" required></textarea>
    <div class="button_group">
      <button (click)="close()">Cancel</button>
      <button type="submit">Create</button>
    </div>
  </form>
</div>
