
<div class="wrapper">
  <div class="title">
    <span *ngIf="mode === 'create'">Add a User to this Project</span>
    <span *ngIf="mode === 'update'">Update this User's Status</span>
  </div>

  <div *ngIf="mode === 'create'; else updateTemplate">
    <form>
      <input type="text" placeholder="User's Email" [(ngModel)]="model.email" name="email" required>
    </form>
  </div>

  <div class="button_group">
    <button (click)="cancel()">Cancel</button>
    <button (click)="add()">
      <span *ngIf="mode === 'create'">Add</span>
      <span *ngIf="mode === 'update'">Update</span>
    </button>
  </div>
</div>

<ng-template #updateTemplate>
  <div *ngIf="member" class="update">
    <span>Update {{ member.name }}'s Status</span>
    <select [(ngModel)]="model.role" name="role">
      <option value="Project Lead">Project Lead</option>
      <option value="Developer">Developer</option>
    </select>
  </div>
</ng-template>
